form input[type="text"] {
    width: 200px; 
    padding: 5px; 
    margin: 5px 0; 
    border: 1px solid #ffffff; 
    border-radius: 5px; 
  }
  
form input[type="submit"] {
    background-color: rgb(240, 187, 52); 
    color: rgb(255, 255, 255); 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  /* Style the form header */
  form h1 {
    text-align: center; /* Center the text of the header */
    font-size: 32px; /* Set the font size of the header */
    margin-bottom: 30px; /* Add some margin to the bottom of the header */
  }
  
  .form {
    margin: 0 0 0 35rem;
    height:30rem;
    width:30rem;
    background-color: #f2f2f2; /* Add a light gray background color */
    background: linear-gradient(to top, rgba(255, 255, 255, 0.958)50%, rgba(255, 255, 255, 0.958)50%);
    padding: 10px; /* Add some padding to the form */
    border-radius: 2px; /* Increase the border radius for a softer look */
    box-shadow: 0 2px 4px rgba(234, 233, 233, 0.949); /* Add a subtle box shadow */
    display: flex; /* Use flexbox to center the form horizontally and vertically */
    justify-content: center;
    align-items: center;
  }
  
  .form input {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }