<!DOCTYPE html>
<html>
<head>
    <title>About Us | Easyatra</title>
    <link rel="stylesheet" href="static\css\aboutstyle.css"></head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/login">Home</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<section id="about">
			<h1>About Us</h1>
			<p>“ The world is a book and those who do not travel read only one page.” 
                <br>
                If the proper precautions are not followed and the proper equipment is not employed, travelling can be stressful and overwhelming. 
                <br>
                To make your travel experience as simple and stress-free as possible, Easy Yatra seeks to be the ideal tool.
                <br>
                You can access your flight information and passport information using simply your fingerprint thanks to Easy Yatra's cutting-edge technology and IoT utilisation. 
                <br>
                Eliminating the need for time-consuming paperwork or multiple logins, you can swiftly and securely access your travel information and passport information thanks to our cutting-edge fingerprint recognition technology.
                <br>
                Our system is built to safeguard your personal data, guaranteeing that it is always safe and secure. 
                <br>
                Our knowledgeable staff is committed ,To make your travel experience as simple and stress-free as possible, Easy Yatra seeks to be the ideal tool.
            </p>
		</section>
	</main>
	
	<footer>
		<p>&copy; 2023 Easyatra. All rights reserved.</p>
	</footer>
</body>
</html>
